body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

section {
  width: 80vw;
  height: 70vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  background: url("./images/Banner Image.png");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.635);
  z-index: 0;
}

h3 {
z-index: 1;
  font-size: 2.5em;
}

h1 {
  z-index: 1;
  font-size: 3.5em; 
}

.orange-font {
  color: #f00;
}
.offer{
    width: 80vw;
  height: 70vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.offerImg {
  height: 70%;
}
.offerImg img {
  height: 100%;
  width: 80%;
}

.midnight {
  height: 70vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  padding: 20px;
  display: flex;
  background: url("./images/Vectorrr.png");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.event {
  margin: 10px auto;
  width: 80vw;
  height: 30vh;
  padding: 20px;
  background: linear-gradient(180deg, rgba(24, 191, 15, 0.1) 0%, rgba(0, 255, 30, 0) 100%);
}
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.quater-part {
  width: 33%;
  height: 40vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.roundImg {
  width: 100%;
  height: 40vh;
  background: red;
  border-radius: 50%;
  background: url("./images/Ellipse\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rounded {
  overflow: hidden;
  padding: 20px;
  border-radius: 50%;

  border: 10px solid #f00;
}

.divider-top{
    display: flex;
    height: 50%;
    position: static;
}
.left{
    height: 100%;
    width: 50%;
}
.right{
    height: 100%;
    width: 50%;
    display: flex;
}
.right-img{
  margin-left: auto;
  position: relative;
}
.right-img img{
    position: relative;
    margin: 50px -133px 0 0;
}
.holiday-sale{
  width: 80vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.holiday-bottom{
    height: 20%;
    width: 100%;
    border-radius: 15px;
}
.Portfolio{
    margin-top: 20px;
    width: 80vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.Subscribe-section{
  width: 80vw;
  height: 40vh !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(255, 68, 0);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

.sub-form{
  display:inline-block;
  width: 80vw;
  margin: 0 auto;
}

.imageBox-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imageBox-top img{
    height: 50%;
    width: 30%;
    margin-bottom: 20px;
}

.footer-section{
  width: 90vw;
  padding: 30px;
  background: #070211;
  color: white;
}
button {
  background-color: #f00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.sub-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-form div {
  background-color: #f00;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.sub-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-contact{
  display: flex;
}
.footer-contact p{
  padding-left: 10px;
}